@import 'src/ui/colors';

.wrapper {
  &:not(:last-child) {
    margin-right: 10px;
  }

  label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    color: $toolbarLabelColor;
  }
}