@import 'src/ui/colors';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.panel {
  width: 295px;
  text-align: center;
}

.row {
  margin: 18px 0;
}

.logo {
  margin-bottom: 33px;
}

.errorBox {
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $errorTextColor;
}