@import 'src/ui/colors';

.list {
  list-style: disc;
  font-weight: 600;
  color: $errorTextColor;
  background-color: lighten($errorTextColor, 50%);
  padding: 10px;
  border: 1px solid $errorTextColor;
  border-radius: 5px;
  margin: 10px 0;

  li {
    display: block;
    margin: 10px 0;
  }
}