.input {
  input {
    cursor: pointer;
  }
}

.calendarWrapper {  
  :global(.react-datepicker__time-box) {
    width: 90px !important;
  }

  :global(.react-datepicker__time-list-item) {
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    white-space: nowrap;
  }

  :global(.react-datepicker__time-list) {
    padding-right: 0 !important;
  }

  :global(.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button)) {
    right: 100px !important;
  }
}

.wrapper {
  :global(.react-datepicker-wrapper) {
    width: 100% !important;
  }

  :global(.react-datepicker__input-container) {
    width: 100% !important;
  }

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }
}