@import 'src/ui/colors';

.wrapper {
  padding: 17px;

  table {
    width: 100%;
  }

  th, td {
    padding: 10px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  thead {
    border-bottom: 1px solid $tableBorderColor;
    tr {
      background-color: $tableHeaderBgColor;
      color: #FFFFFF;
      th {
        height: 50px;
        vertical-align: middle;
        text-align: left;
        font-size: 15px;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

  tbody {
    tr {
      color: #3B3B3B;

      &:nth-child(even) {
        background-color: $tableRowBgColor1;
      }
  
      &:nth-child(odd) {
        background-color: $tableRowBgColor2;
      }

      &:hover {
        background-color: $tableRowHoverBgColor;
      }
    }
  }
}

.tableBorder {
  overflow: hidden;
}