@import 'src/ui/colors';

.wrapper {
  height: 46px;
  overflow: visible;
  border: 1px solid $inputBorderColor;
  width: 200px;
  border-radius: 5px;
  background-color: $inputBgColor;
  cursor: pointer;

  &.fill {
    width: 100%;
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  :global(.Dropdown-control) {
    display: block;
    height: 46px;
    display: flex;
    align-items: center;
  }

  :global(.Dropdown-placeholder) {
    padding: 0 10px;
  }

  :global(.Dropdown-menu) {
    border: 1px solid $inputBorderColor;
    background-color: $inputBgColor;
    border-radius: 5px;
    position: relative;
    z-index: 1;
  }

  :global(.Dropdown-option) {
    padding: 10px;
    &:hover {
      background-color: $selectOptionHoverColor;
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}