@import 'src/ui/colors';

.wrapper {
  display: flex;
  align-items: center;
  padding: 14px 17px;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: $headerTextColor;
}

.actionContent {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}