@import 'src/ui/colors';

.input {
  height: 46px;
  font-size: 18px;
  padding-left: 10px;
  border: 1px solid $inputBorderColor;
  border-radius: 5px;
  background-color: $inputBgColor;
  width: 100%;

  &::placeholder { 
    color: $inputPlaceholderColor; 
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}