@import 'src/ui/colors';

.button {
  display: inline-block;
  width: 100%;
  height: 48px;
  background-color: $primaryButtonBgColor;
  border: none;
  border-radius: 5px;
  color: $primaryButtonColor;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: darken($primaryButtonBgColor, 5%);
  }

  &.small {
    height: 30px;
    font-size: 14px;
    width: auto;
  }

  &.dangerous {
    background-color: $errorTextColor;
    &:hover {
      background-color: darken($errorTextColor, 5%);
    }
  }
}