@import 'src/ui/colors';

.wrapper {
  width: 260px;
  padding: 17px;
  background-color: $menuBgColor;
  color: $menuColor;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: uppercase;
}

.logo {
  margin-right: 17px;
}

.linksContainer {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.linkItem {
  &:not(:last-child) {
    margin: 17px 0;
  }

  a {
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
    transition-duration: .2s;
    color: inherit;
    text-decoration: inherit;
    display: block;

    &:hover:not(.active) {
      padding-left: 25px;
    }
  }

  a.active {
    padding-left: 25px;
    font-weight: 700;
    cursor: default;
  }
}