$inputBorderColor: #979797;
$inputBgColor: #F8F8F8;
$inputPlaceholderColor: #848484;
$primaryButtonBgColor: #4FA0FF;
$primaryButtonColor: #FFFFFF; 
$errorTextColor: rgba(211, 28, 28, 0.9);
$menuBgColor: #3E7FCC;
$menuColor: #FFFFFF;
$headerTextColor: #4A4A4A;
$tableBorderColor: #D0D0D0;
$tableRowBgColor1: #f6f6f6;
$tableRowBgColor2: #e9e9e9;
$tableRowHoverBgColor: #DFDFDF;
$tableHeaderBgColor: #3E7FCC;
$toolbarLabelColor: #919191;
$selectOptionHoverColor: $tableRowHoverBgColor;